

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Gas-Heat Option Calculator</h2>
        <p style= "font-size: 95%">Calculator for modulating gas heating options on 25 through 40 ton package units</p> 
      </div>
    </div>
    


