@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
   margin-top: 15px;
   padding-right: 15px;
   color: #ffffff;
 }

 .app-title {
   color: #ffffff;
 }
 
 .nav {
   margin-top: 5px;
 }

 h1 {
 color: #ffffff;
 }

 .link-color {
 color: #ffffff;
 }

 .nav-color {
   background-color: #35B2D4;
 }

  .logo {
  font-size: 1.5em;
  font-family: PT Sans;
  letter-spacing: .5px;
  color: #ffffff;
  padding-right: 15px;
 }
 